@use 'sass:math';

$utilities: (
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        )
    ),
    "margin": (
        "prefix": "m",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        )
    ),
    "opacity": (
        "prefix": "o",
        "values": (
            "10": 0.1,
            "30": 0.3,
            "50": 0.5,
            "70": 0.7,
            "100": 100,
        )
    ),
    "font-size": (
        "prefix": "font",
        "values": (
            "sm": $base-font-size,
            "lg": $font-size-lg,
            "xl": $font-size-xl
        )
    )
);

@each $property, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, $key: "values");

    @each $k, $v in $values {
        .#{$prefix}-#{$k} {
            #{$property}: $v;
        }
    }
}