@use 'sass:math';
@import '../variables';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    font-size: $base-font-size;
    border-radius: math.div($base-border-radius, 2);
    margin: $base-margin;

    .card-title {
        font-size: $font-size-xl;
        padding-bottom: $base-padding;
    }

    .card-body {
        a {
            text-decoration: underline;
        }
    }
}
