@import '../variables';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    font-size: $base-font-size;

    .card-title {
        padding-bottom: $base-padding;
    }

    .card-body {
        a {
            text-decoration: underline;
        }
    }
}