* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: #555;
  font-weight: bold;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}
.bg-primary-light-1:hover {
  background-color: #326dee;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}
.bg-primary-light-2:hover {
  background-color: #326dee;
}

.text-primary-light-3 {
  color: #7099f3;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}
.bg-primary-light-3:hover {
  background-color: #326dee;
}

.text-primary-dark-1 {
  color: #2d62d6;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.text-primary-dark-2 {
  color: #2857be;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.text-primary-dark-3 {
  color: #234ca7;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary-light-1 {
  color: #31ce94;
}

.bg-secondary-light-1 {
  background-color: #31ce94;
}
.bg-secondary-light-1:hover {
  background-color: #1ac888;
}

.text-secondary-light-2 {
  color: #48d3a0;
}

.bg-secondary-light-2 {
  background-color: #48d3a0;
}
.bg-secondary-light-2:hover {
  background-color: #1ac888;
}

.text-secondary-light-3 {
  color: #5fd9ac;
}

.bg-secondary-light-3 {
  background-color: #5fd9ac;
}
.bg-secondary-light-3:hover {
  background-color: #1ac888;
}

.text-secondary-dark-1 {
  color: #17b47a;
}

.bg-secondary-dark-1 {
  background-color: #17b47a;
}

.text-secondary-dark-2 {
  color: #15a06d;
}

.bg-secondary-dark-2 {
  background-color: #15a06d;
}

.text-secondary-dark-3 {
  color: #128c5f;
}

.bg-secondary-dark-3 {
  background-color: #128c5f;
}

.text-purple {
  color: purple;
}

.bg-purple {
  background-color: purple;
}

.text-purple-light-1 {
  color: #8d1a8d;
}

.bg-purple-light-1 {
  background-color: #8d1a8d;
}
.bg-purple-light-1:hover {
  background-color: purple;
}

.text-purple-light-2 {
  color: #993399;
}

.bg-purple-light-2 {
  background-color: #993399;
}
.bg-purple-light-2:hover {
  background-color: purple;
}

.text-purple-light-3 {
  color: #a64da6;
}

.bg-purple-light-3 {
  background-color: #a64da6;
}
.bg-purple-light-3:hover {
  background-color: purple;
}

.text-purple-dark-1 {
  color: #730073;
}

.bg-purple-dark-1 {
  background-color: #730073;
}

.text-purple-dark-2 {
  color: #660066;
}

.bg-purple-dark-2 {
  background-color: #660066;
}

.text-purple-dark-3 {
  color: #5a005a;
}

.bg-purple-dark-3 {
  background-color: #5a005a;
}

.text-red {
  color: #d32752;
}

.bg-red {
  background-color: #d32752;
}

.text-red-light-1 {
  color: #d73d63;
}

.bg-red-light-1 {
  background-color: #d73d63;
}
.bg-red-light-1:hover {
  background-color: #d32752;
}

.text-red-light-2 {
  color: #dc5275;
}

.bg-red-light-2 {
  background-color: #dc5275;
}
.bg-red-light-2:hover {
  background-color: #d32752;
}

.text-red-light-3 {
  color: #e06886;
}

.bg-red-light-3 {
  background-color: #e06886;
}
.bg-red-light-3:hover {
  background-color: #d32752;
}

.text-red-dark-1 {
  color: #be234a;
}

.bg-red-dark-1 {
  background-color: #be234a;
}

.text-red-dark-2 {
  color: #a91f42;
}

.bg-red-dark-2 {
  background-color: #a91f42;
}

.text-red-dark-3 {
  color: #941b39;
}

.bg-red-dark-3 {
  background-color: #941b39;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.75rem;
}
.card .card-title {
  font-size: 3rem;
  padding-bottom: 0.75rem;
}
.card .card-body a {
  text-decoration: underline;
}